# SQL querying and selecting data (exercises)

## Preparation

For this section you need `chinook.db` database file and working `%sql` magic.  
If you don't have it, please go back to the [previous section](connect_to_database.ipynb) and follow the instructions.  
The following code should not produce any errors:

In [1]:
%load_ext sql
%sql sqlite:///chinook.db

## Exercise: biggest tracks

Print (select) the top 10 biggest `tracks` according to size in `Bytes` column.

In [5]:
%sql SELECT * FROM tracks ORDER BY Bytes DESC LIMIT 10

 * sqlite:///chinook.db
Done.

[(3224, 'Through a Looking Glass', 229, 3, 21, None, 5088838, 1059546140, 1.99),
 (2820, 'Occupation / Precipice', 227, 3, 19, None, 5286953, 1054423946, 1.99),
 (3236, 'The Young Lords', 253, 3, 20, None, 2863571, 587051735, 1.99),
 (3242, 'The Man With Nine Lives', 253, 3, 20, None, 2956998, 577829804, 1.99),
 (2910, 'Dave', 231, 3, 19, None, 2825166, 574325829, 1.99),
 (3235, 'The Magnificent Warriors', 253, 3, 20, None, 2924716, 570152232, 1.99),
 (3231, 'The Lost Warrior', 253, 3, 20, None, 2920045, 558872190, 1.99),
 (2902, 'Maternity Leave', 231, 3, 21, None, 2780416, 555244214, 1.99),
 (3228, 'Battlestar Galactica, Pt. 3', 253, 3, 20, None, 2927802, 554509033, 1.99),
 (2832, 'The Woman King', 227, 3, 18, None, 2626376, 552893447, 1.99)]

## Exercise: simple filtering

Write statements to get `tracks` with: the `AlbumId` equal to `1` and the `Bytes` length greater than 200,000 milliseconds.

In [7]:
%sql SELECT * FROM tracks WHERE AlbumId = 1 AND Bytes > 200000

 * sqlite:///chinook.db
Done.

[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99),
 (6, 'Put The Finger On You', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205662, 6713451, 0.99),
 (7, "Let's Get It Up", 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 233926, 7636561, 0.99),
 (8, 'Inject The Venom', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 210834, 6852860, 0.99),
 (9, 'Snowballed', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 203102, 6599424, 0.99),
 (10, 'Evil Walks', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263497, 8611245, 0.99),
 (11, 'C.O.D.', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 199836, 6566314, 0.99),
 (12, 'Breaking The Rules', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263288, 8596840, 0.99),
 (13, 'Night Of The Long Knives', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205688, 6706347, 0.99),
 (14, 'Spellbound', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 270863, 8817038, 0.99)]

## Exercise: filter with `IN`

Return `customers` from `State` of `FL` (Florida), `WA` (Washington), `CA` (California).  
Use `IN`, not `AND`.

In [12]:
%sql SELECT * FROM customers WHERE State IN ('FL', 'WA', 'CA')

 * sqlite:///chinook.db
Done.

[(16, 'Frank', 'Harris', 'Google Inc.', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', '+1 (650) 253-0000', '+1 (650) 253-0000', 'fharris@google.com', 4),
 (17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', '+1 (425) 882-8080', '+1 (425) 882-8081', 'jacksmith@microsoft.com', 5),
 (19, 'Tim', 'Goyer', 'Apple Inc.', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', '+1 (408) 996-1010', '+1 (408) 996-1011', 'tgoyer@apple.com', 3),
 (20, 'Dan', 'Miller', None, '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', '+1 (650) 644-3358', None, 'dmiller@comcast.com', 4),
 (22, 'Heather', 'Leacock', None, '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', '+1 (407) 999-7788', None, 'hleacock@gmail.com', 4)]

## Exercise: filter for numbers in range

Find `invoices` whose `Total` is between 14.96 and 18.86. Use `BETWEEN`.  
Sort the output with increasing `Total`. Show only these columns: `InvoiceId`, `BillingAddress`, `Total`.

In [14]:
%sql SELECT InvoiceId, BillingAddress, Total FROM invoices WHERE Total BETWEEN 14.96 AND 18.86 ORDER BY Total ASC

 * sqlite:///chinook.db
Done.

[(103, '162 E Superior Street', 15.86),
 (208, 'Ullevålsveien 14', 15.86),
 (306, 'Klanova 9/506', 16.86),
 (313, '68, Rue Jouvence', 16.86),
 (88, 'Calle Lira, 198', 17.91),
 (89, 'Rotenturmstraße 4, 1010 Innere Stadt', 18.86),
 (201, '319 N. Frances Street', 18.86)]

## Exercise: filter partially matching words

Find the `tracks` whose `Name`s contain a substring: `Br` (two letters), one letter, `wn` (two letters).

## Exercise: filtering missing values

Find the `customers` who do not have phone numbers. In the result show only the name and the (missing) phone number.

## Exercise: from the database to a Python list

Create a Python variable `bs` to be a list containing all `tracks` sizes as provided in the `Bytes` column.  
Print the `type` of the `bs` variable. Print the first 10 elements of `bs`.

## Exercise: from the database to a Pandas data frame

Create a Python variable `df` to be a Pandas `DataFrame` with two columns corresponding to `Milliseconds` and `Bytes` columns of the `tracks` table. Print `df`.  
You will likely need to:
- Import `pandas` package.
- Use `read_sql` function from `pandas`.
- Create a separate connection `engine` with `creeate_engine`.